@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --breakpoint-tablet: 800px;
  --breakpoint-mobile: 500px;
}


body {
  margin: 0;
  padding: 0;

  
}


 @keyframes bounce-soft {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20px);
  }
 }
 .bounce-soft{
  animation: bounce-soft 4s infinite;
 }
 
 html {
  scroll-behavior: smooth;
}
