@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --breakpoint-tablet: 800px;
  --breakpoint-mobile: 500px;
}


body {
  margin: 0;
  padding: 0;

  
}

/* button{
  padding: 10px;
  border: 1px solid orangered;
  border-radius: 5px;

} */